html, body {
    -moz-user-select: one;
    -webkit-user-select: none;
    user-select: none;
    font-size: 20px;
    height: 100%;
    overflow: auto;
}
html{
    background-color: #a40501;
}
body {
    -webkit-text-size-adjust: 100% !important;
    -moz-text-size-adjust: 100% !important;
    text-size-adjust: 100% !important;
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
}
::-webkit-scrollbar{display:none;}
@keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 1;}
}

/* 封面各元素属性 */
#container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../src/img/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}
.cover-indent{
    position: absolute;
    top: 9%;
    width: 100%;
    height: 41%;
}
/* 第一部分（左侧） */
#cover-part1{
    /* background-color: #dfc6c6; */
    animation: fade-in 1s ease 0s 1 normal forwards;
    width: 25%;
    height: 100%;
    position: absolute;
}
.tittle-part1-left-indent{
    position: absolute;
    left: 36%;
}
#tittle-bar-img{
    background-color: #fff;
    width: 0.1rem;
    height: 100%;
}
#tittle-text-img{
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
}
#tittle-text-img1{
    background-image: url("../src/img/zddw.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 27.7%;
    height: 30%;
    position: absolute;
    top: 22.4%;
}
#tittle-text-img2{
    background-image: url("../src/img/zbdw.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 27.7%;
    height: 27.5%;
    position: absolute;
    bottom: 14.3%;
}
/* 第一部分 结束 */

/* 第二部分（中间） */
#cover-part2{
    /* background-color: #0e973c; */
    animation: fade-in 1s ease 0s 1 normal forwards;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 25%;
}
#tittle-img{
    background-image: url("../src/img/tittle.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
}
/* next-icon属性与动画 */
.next-ico-unity{
    z-index: 100;
    width: 20%;
    border-radius: 20rem;
    border-style:solid;
    border-color: #fff;
    border-width: 0.3vw;
    position: absolute;
}
.next-ico-arrow-unity{
    z-index: 100;
    width: 60%;
    padding-bottom: 56%;
    height: 0;
    position: absolute;
    left:17%;
}
.next-ico-border{
    height: 16%;
    bottom: 7.15%;
}
.next-ico-arrow{
    animation-name: arrow-mov;
    animation-duration: 1.8s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    border-bottom: 0.3vw solid #fff;
    border-right: 0.3vw solid #fff;
    transform:rotate(55deg) skew(20deg);
    bottom: 40%;
}
@-webkit-keyframes arrow-mov{
    0% {transform:rotate(55deg) skew(20deg) translateY(0) translateX(0rem);opacity: 0;}
    40% {transform:rotate(55deg) skew(20deg) translateY(40%) translateX(40%);opacity: 1;}
    80% {transform:rotate(55deg) skew(20deg) translateY(80%) translateX(80%);opacity: 1;}
    100% {transform:rotate(55deg) skew(20deg) translateY(80%) translateX(80%);opacity: 0;}
}
@keyframes arrow-mov{
    0% {transform:rotate(55deg) skew(20deg) translateY(0) translateX(0rem);opacity: 0;}
    40% {transform:rotate(55deg) skew(20deg) translateY(40%) translateX(40%);opacity: 1;}
    80% {transform:rotate(55deg) skew(20deg) translateY(80%) translateX(80%);opacity: 1;}
    100% {transform:rotate(55deg) skew(20deg) translateY(80%) translateX(80%);opacity: 0;}
}
/* next-icon属性与动画  结束 */
#enter-img{
    width: 20%;
    height: 12%;
    background-image: url('../src/img/enter.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    position: absolute;
    bottom: 7.15%;
    right: 50%;
}

/* 简介页 */
.next-ico-border-pre{
    padding-bottom: 20%;
    height: 0;
}
.next-ico-arrow-pre{
    border-top: 0.3vw solid #fff;
    border-left: 0.3vw solid #fff;
    transform:rotate(55deg) skew(20deg);
    top: 35%;
}
#tittle-img-min{
    background-image: url("../src/img/tittle.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    height: 18%;
}
#introduction-img{
    width: 100%;
    height: 60%;
    background-image: url('../src/img/introduction.png');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 7.15%;
}
/* 简介页 结束 */
/* 第二部分 结束 */

/* 第三部分（右侧） */
#cover-part3{
    /* background-color: #0013c0; */
    animation: fade-in 1s ease 0s 1 normal forwards;
    width: 25%;
    height: 100%;
    position: absolute;
    right: 0%;
}
#tittle-label-img{
    width: 62%;
    height: 49%;
    background-image: url("../src/img/label.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: absolute;
    right: 0;
}
/* 第三部分 结束 */
/* 封面各元素属性  结束*/

/* 目录页 */
@keyframes move-in-1{
    from {transform: translateX(45%);}
    to {transform: translateX(100%);}
}
@keyframes move-in-2{
    from {transform: translateX(0%);}
    to {transform: translateX(100%);}
}
@keyframes move-in-3{
    from {transform: translateX(-45%);}
    to {transform: translateX(100%);}
}
@keyframes move-in-4{
    from {transform: translateX(45%);}
    to {transform: translateX(-100%);}
}
@keyframes move-in-5{
    from {transform: translateX(0%);}
    to {transform: translateX(-100%);}
}
@keyframes move-in-6{
    from {transform: translateX(-45%);}
    to {transform: translateX(-100%);}
}
.back-to-cover-indent
{
    left: 35%;
    bottom: 9.6%;
}
.catalog-indent{
    
    position: absolute;
    top: 50%;
    width: 100%;
    height: 41%;
}
#catalog-text-img1{
    background-image: url("../src/img/zddw.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 27.7%;
    height: 30%;
}
#catalog-text-img2{
    background-image: url("../src/img/zbdw.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 27.7%;
    height: 27.5%;
    position: absolute;
    top: 36%;
}
#catalog{
    z-index: 100;
    animation: fade-in 0.5s ease 0s 1 normal forwards;
    height: 37%;
}
.catalog-block{
    z-index: 100;
    width: 36%;
    height: 16%;
    border-radius: 20rem;
    background-color:#fff;
    border-width: 0.3vw;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 37%;
}
#catalog-right{
    position: absolute;
    width: 100%;
    height: 100%;
    right: 10%;
}
#catalog-left{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 10%;
}
.catalog-right{
    right: 0;
}
.catalog-block-left{
    transform: translateX(45%);
}
.catalog-block-mid{
    top: 28%;
}
.catalog-block-right{
    top: 56%;
    transform: translateX(-45%);
}
#introduction-text{
    animation: move-in-1 1s ease-in 0s 1 reverse forwards;
    background-image: url('../src/img/intro-text.png');
}
#competition-situation{
    animation: move-in-2 1s ease-in 0s 1 reverse forwards;
    background-image: url('../src/img/cpt-text.png');
}
#award{
    animation: move-in-3 1s ease-in 0s 1 reverse forwards;
    background-image: url('../src/img/awa-text.png');
}
#first-prize{
    animation: move-in-4 1s ease-in 0s 1 reverse forwards;
    background-image: url('../src/img/1st-text.png');
}
#second-prize{
    animation: move-in-5 1s ease-in 0s 1 reverse forwards;
    background-image: url('../src/img/2nd-text.png');
}
#third-prize{
    animation: move-in-6 1s ease-in 0s 1 reverse forwards;
    background-image: url('../src/img/3rd-text.png');
}
/* 目录页 结束 */

/* 图标页 */
.chart{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
}
.chart-text{
    height: 10%;
    width: 100%;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 40%;
}
#slide-ico{
    width: 10%;
    height: 8%;
    left: 10%;
    bottom: 7.15%;
    background-image: url('../src/img/slide.png');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}
#cpt-chart-text{
    background-image: url('../src/img/cpt-chart-text.png');
}
#awa-chart-text{
    background-image: url('../src/img/awa-chart-text.png');
}
#terr-chart-text{
    background-image: url('../src/img/terr-chart-text.png');
}
#cpt-chart{
    background-image: url('../src/img/cpt-chart.png');
}
#awa-chart{
    background-image: url('../src/img/awa-chart.png');
}
#map-chart{
    background-image: url('../src/img/map-chart.png');
}
#chart-show{
    border-style:solid;
    border-color: #fff;
    border-width: 0.3vw;
    width: 100%;
    height: 36%;
    position: absolute;
    bottom: 7.15%;
    white-space: nowrap;
    overflow-y: auto;
}