html, body {
    -moz-user-select: one;
    -webkit-user-select: none;
    user-select: none;
    /*font-family: FZQINGKEYUESONG_GB;*/
    font-size: 20px;
    height: 100%;
    overflow: auto;
}
html{
    background-color: #c00100;
    background-image: url("../src/img/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}
body {
    -webkit-text-size-adjust: 100% !important;
    -moz-text-size-adjust: 100% !important;
    text-size-adjust: 100% !important;
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
}